---
import { languages, type Language } from "../utils/i18n";

const currentLanguage = Astro.currentLocale as Language;
---

<ul class="flex items-center gap-2">
  {
    Object.entries(languages).map(([lang, label]) => (
      <li>
        <a
          href={lang === "en" ? "/cat-sitting/" : `/cat-sitting/${lang}/`}
          class:list={[
            "text-lg font-bold",
            currentLanguage === lang && "underline underline-offset-4",
          ]}
        >
          {label}
        </a>
      </li>
    ))
  }
</ul>
